@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

input {
    border: 0;
    outline: 0;
  }

input:focus {
  outline: none !important;
}

.textColor {
  color: skyBlue;
}

::-webkit-scrollbar {
  width: 0.2px;
}

.stickyPosition{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
}
